.actionButton {
  border: solid 1px #808080;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: solid 1px #ffcc66;
  color: #ffffff;
  background-color: #ffcc66;
  font-weight: bold;
}
